.cuerpo01 {
    background-color: #ff0;
    color: rgb(0, 0, 0);
}

.cuerpo02 {
    background-color: #f0f;
}

.cuerpo03 {
    background-color: #0ff;
}

.cuerpo04 {
    background-color: rgb(81, 0, 0);
}

.cuerpo05 {
    background-color: rgb(30, 8, 96);
}